<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Daphne Weissfloch Portfolio</h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Welcome to the About Daphne Weissfloch website!</h2>
            <p>This website is all about me!</p>
        </section>

          <!-- Image Section -->
          <section class="image-gallery">
            <h2>Gallery</h2>
            <p>A portrait of Myself:</p>
            <div class="gallery">
                <img src="C:\Users\daphn\Desktop\my_website\templates\WhatsApp Image 2024-11-21 at 20.55.36_8992f05f.jpg" alt="Daphne at a conference" width="300">
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 My Website | <a href="mailto:dw@enciris.com">dw@enciris.com</a></p>
    </footer>
    
</body>
</html>